.main-wrapper{
  background-color: rgb(132, 172, 247);
  height: 100vh;
}

.grid-container{
  background-color: brown;
  width: 700px;
  aspect-ratio: 1;
}

.square{
  width: 70px;
  height: 70px;
  background-color: aquamarine;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-grow: 0;
  cursor: pointer;
}

.square.clicked{
  background-color: darkgreen;
}

/* 


.square.even{
  background-color: deeppink;
} */